@{
    ViewData["Title"] = "Advantages";
}

    <div class="text-center">
        <h2 class="display-4">Key Advantages of Azure Kubernetes Services</h2>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
        <ul style="list-style-type:none;">


<h2><p align="left">• Hosts your Kubernetes environment.</p></h3>
<h3><p align="left">• Quick and easy to deploy.</p></h3>
<h3><p align="left">• Hosted control plane.</p></h3>
<h3><p align="left">• Manages containerized applications without container orchestration expertise.</p></h3>
<h3><p align="left">• Eliminates burden of ongoing operations and maintenance by provisioning, upgrading, and scaling resources on demand while keeping the application online.</p></h3>
<h3><p align="left">• Continuous build option that creates Docker images for faster deployments and reliability.</p></h3>
<h3><p align="left">• Create resources and infrastructure inside the Azure Kubernetes cluster through Deployments and services manifest files.</p></h3>
